

# Full path to the list of mathematician pages by chronological order
index-page: /path/to/mac-tutor-index/mactutor-Full_Chron.html

# Full paths where the html files will be stored locally
directories:
  bios: /path/to/directory/mactutor-biographies
  places: /path/to/directory/mactutor-places

# Full path to the resulting file
result-csv: /path/to/mac-tutor-index/mactutor-by-links.csv

# Indicates if the entries without birth date should be eliminated
# possible values : true or false
keep-only-dates: true
